h1 {
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}
.card {
  text-align: center;
  padding: 10px;
  width: 350px;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.label-card {
  text-align: center;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.table-card {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.label {
  justify-content: center;
}
img {
  max-height: 300px;
  max-width: 300px;
  border: 2px solid gray;
  padding: 20px;
}

table {
  width: 80%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #132952;
  border-style: solid; 
  color: #000000;
}

table td, table th {
  border-width: 2px;
  border-color: #7ea8f8;
  border-style: solid;
  padding: 5px;
}

table thead {
  background-color: #7ea8f8;
}